@charset "UTF-8";

html,body{
    margin:0;
    height:100vh;
    background-image: url("images/grayscaletile.jpg");
    border-top: 25px groove rgb(122, 15, 15);
    border-bottom: 25px groove rgb(122, 15, 15);
    border-left: 25px groove rgb(16, 105, 16);
    border-right: 25px groove rgb(16, 105, 16);
    text-shadow: 2px 2px 5px  rgb(122, 15, 15);
    
    
}

#container{
    display: grid;
    grid-template-columns: 'auto auto auto auto';
    grid-template-rows: 'auto auto auto auto';
}

header{
    grid-column: 1/ span 4;
}

main{
    grid-column: 1/ span 4;
    display:grid;
    grid-template-columns: 50% 50%;
}

footer{
    grid-column: 1/ span 4;
}